{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-constant-condition": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 0,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "no-unsafe-finally": 2,
    "use-isnan": 2,
    "valid-typeof": 2,

    "array-callback-return": 2,
    "block-scoped-var": 2,
    "curly": 2,
    "dot-notation": 2,
    "eqeqeq": 1,
    "guard-for-in": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-else-return": 2,
    "no-empty-pattern": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-extra-label": 2,
    "no-implicit-coercion": 2,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-magic-numbers": ["error", { "ignoreArrayIndexes": true, "ignore": [-1, 0, 1, 2] }],
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unmodified-loop-condition": 2,
    "no-unused-expressions": 2,
    "no-useless-concat": 2,
    "no-useless-escape": 2,
    "no-void": 2,
    "no-with": 2,
    "radix": 2,
    "wrap-iife": ["error", "any"],

    "no-delete-var": 2,
    "no-restricted-globals": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,

    "array-bracket-spacing": 2,
    "block-spacing": 2,
    "brace-style": ["error"],
    "camelcase": 2,
    "comma-spacing": 2,
    "comma-style": 2,
    "computed-property-spacing": 2,
    "eol-last": 2,
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "id-length": ["error", { "min": 1 }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": 2,
    "keyword-spacing": 2,
    "max-depth": 2,
    "max-len": ["error", 120],
    "max-nested-callbacks": 2,
    "max-params": ["error", 5],
    "max-statements": ["error", 15],
    "max-statements-per-line": 2,
    "new-cap": 2,
    "new-parens": 2,
    "newline-per-chained-call": 2,
    "no-array-constructor": 2,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "no-whitespace-before-property": 2,
    "object-property-newline": 2,
    "operator-assignment": 2,
    "quotes": ["error", "single", {"avoidEscape": true}],
    "semi": ["error", "always"],
    "semi-spacing": ["error", {"before": false, "after": true}],
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": 2,
    "spaced-comment": 2,

    "arrow-spacing": ["error", { "before": true, "after": true }],
    "constructor-super": 2,
    "no-class-assign": 2,
    "no-confusing-arrow": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-duplicate-imports": 2,
    "no-new-symbol": 2,
    "no-this-before-super": 2,
    "no-useless-computed-key": 2,
    "no-useless-constructor": 2,
    "no-var": 2,
    "object-shorthand": ["error", "always", {"avoidQuotes": true}],
    "prefer-const": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "prefer-template": 2
  }
}
